*{
    margin: 0; 
    padding: 0; 
    font-size: 100%; 
    box-sizing: border-box; 
    font-family: open sans, sans-serif;
}*
 nav, ul {
    list-style: none;
    color:black;
   
}
nav a{
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 2rem;
    color: black
}

 menu:hover, a:hover{ 
    text-decoration: none; 
    cursor: pointer; 
    opacity: 0.9;
    background:rgb(190, 56, 56);
     color: beige;
     text-decoration:none;
}
a:hover {opacity: 1;}
/* HEADER */
header { 
    width:100%;
    position: absolute;
     top: 0; 
     left: 0; 
     display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px, 50px;
    background-color: red;
}     
header img {width: 200px;}

header nav ul {
    display: flex; 
}
header li a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    
}
 header li {
     margin: 0 15px;
     
 }
header li:first-child {
    margin-left: 0;
}
header li:last-child {
    margin-right: 1;
}

@media (max-width: 700px){
    header{flex-direction: column; }
    header img {margin-bottom: 15px;}
}
/*HERO  */
.hero {
    background-image: url(img/hero.jpg); 
    background-size: cover; 
    min-height: 100vh; 
    color: rgb(22, 22, 22); 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero h1 {
    font-size: 3.2rem;
    margin-bottom: 15px;

}
.hero h3 {
    font-size: 2rem;
    margin-bottom: 15px;
}

a.btn, input.btn  {
    background:  rgb(241, 62, 62);
    border-radius: 4PX;
    color: black;
    padding: 20px 50px;
    font-size: 2rem;
    text-decoration: none;
    display: inline;
    border: none;
}
 a.btn:hover, input.bnt:hover{
background: rgb(243, 68, 68);
text-decoration: none;
color:beige;
}
@media (max-width: 700px){
    .hero h1 {font-size:2.5rem;}
    .hero h2 {font-size:1.5rem;}
}
/*conheça o hotel*/

.conheca-o-hotel{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}
.conheca-o-hotel h3 {
    font-size: 2rem;
    margin: bottom 35px;
    color:  red;
    text-align: center;
    
}
.conheca-o-hotel p {
    max-width: 800px;
    line-height: 35px;
    margin-bottom: 35px;
    color:  rgb(241, 62, 62);
    text-align: center;
}
.conheca-o-hotel hr {
    width: 200px;
    height: 2px;
    background-color:  rgb(241, 62, 62);
    margin-bottom: 70px;
    border:none;
}
/*imagens*/
.conheca-o-hotel .grid {
    width: 100%; 
    display: flex; 
    flex-wrap: wrap;
}
.conheca-o-hotel .grid li {
    height:350px;
    padding: 20px;
    border-radius: 4px;
    background-clip: content-box;
    background-size: cover; 
    background-position: center;  
} 
.conheca-o-hotel .grid li.small{
    flex-basis:40%;
   
}
.conheca-o-hotel .grid li.large{
    flex-basis:60%;    
  
}
@media (max-width: 700px) {
    .conheca-o-hotel .grid li.small, .conheca-o-hotel .grid li.large {flex-basis: 100%}
}

/*caracteristicas*/


.caracteristicas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
    background-color: rgb(241, 62, 62);
}
.caracteristicas  h3 {
    font-size: 2rem;
    margin: bottom 35px;
    color: rgb(252, 249, 249);
    text-align: center;
    
}
.caracteristicas  p {
    max-width: 800px;
    line-height: 35px;
    margin-bottom: 35px;
    color: rgb(255, 250, 250);
    text-align: center;
}
.caracteristicas  hr {
    width: 200px;
    height: 2px;
    background-color: rgb(240, 234, 234); 
    margin-bottom: 70px;
    border:none;
}
.caracteristicas .grid {
    width: 100%;
    display: flex;
}
.caracteristicas .grid li{
padding: 0 30px; text-align: center;
    
}
.caracteristicas .grid li i{
color:rgb(255, 250, 250);
font-size: 3.5rem; 
margin-bottom: 30px;
}
.caracteristicas .grid li h4 {
    font-size: 1.5rem;
    color: rgb(252, 252, 252);
    margin-bottom: 30px;
}
.caracteristicas .grid li p {
    color: rgb(221, 227, 233);
}
@media (max-width: 700px) {
    .caracteristicas .grid {flex-direction: column; }
}
/*Newsletter*/
.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
     

}
.newsletter  h3 {
    font-size: 2rem;
    margin: bottom 35px;
    color: rgb(247, 64, 64);
    text-align: center;
    
}
.newsletter  p {
    max-width: 800px;
    line-height: 35px;
    margin-bottom: 35px;
    color:rgb(247, 64, 64);
    text-align: center;
}
.newsletter hr {
    width: 200px;
    height: 2px;
    background-color: rgb(247, 64, 64); 
    margin-bottom: 70px;
    border:none;
}

.newsletter form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
    width: 80%;
    max-width: 800px;
}
.newsletter input {
    padding: 15px;
    border: 1px solid red;
    border-radius: 4px;
    margin-right:15px; 
    flex: 1;
}
.newsletter button{
    padding: 15px;
    background-color: rgb(253, 94, 94);
    border-radius: 4px;
    border-color: red;
    color:beige;
    text-transform: uppercase;
    cursor: pointer;
}
.newsletter  button:hover {
    background-color: aliceblue;
    color: red;
}
@media (max-width: 700px) {
    .newsletter input {

        flex-basis: 100%;
        margin-bottom: 15px;
    }
}
/* FOOTER*/

footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(253, 94, 94);
    padding: 50px 0;
    align-items: center;
}
footer ul{
    display: flex;
    margin-bottom: 25px;
}
footer ul li {
    margin-right: 10px;
}
footer ul li:last-child{
    margin-right: 0;
} 
footer ul li a, i{
    color: blanchedalmond;
    font-size: 2rem;
}
footer p, span{
    color: blanchedalmond;
    text-align: center;
}
